@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300display=swap");
.PartnerContainer {
    width: 100%;
    margin-top: 100px;
    .PartnerTitle {
        background: #000000;
        border-radius: 0px 0px 44px 44px;
        color: white;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 61px;
        text-align: center;
        padding: 58px 0 86px 0;
    }
    .PartnerContent {
        margin: auto;
        max-width: 1380px;
        margin-top: 58px;
        margin-bottom: 100px;
        .ContentHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .ContentHeaderTitle {
                font-family: "Montserrat", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 44px;
                line-height: 54px;
                color: #061224;
                @media screen and (max-width: 705px) {
                    font-size: 34px;
                }
                @media screen and (max-width: 345px) {
                    font-size: 30px;
                }
            }

            @media screen and (max-width: 605px) {
                flex-direction: column;
            }
        }
        .CardGroupContent {
            margin-top: 68px;
            margin-bottom: 5px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 64px;
            @media screen and (max-width: 1150px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        .More_Button {
            float: right;
            width: 153px;
            height: 64px;
            background: #72aaf4;
            border-radius: 7px;
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 150%;
            color: white;
            border: none;
        }
        .More_Button:hover {
            background: white;
            color: #72aaf4;
            border: 2px solid #72aaf4;
        }
    }
}
