.froot {
    position: relative;
    width: 100vw;
    height: auto;
    background-image: url("../assets/secBack.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
}

body {
    overflow-x: hidden;
}
.fsideBar {
    min-width: 320px;
    max-width: 320px;
    background-color: rgba($color: #0f183d, $alpha: 0.8);
    padding: 0 10px;
    height: 100vh;
    position: relative;
    transition: .2s all;
}
.flogo {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}
.fsideItem {
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    cursor: pointer;
    margin: 13px 0;
    img {
        margin-right: 20px;
    }
}
.fsidebody {
    margin-top: 40px;
    padding-left: 15px;
}
.fdiscount {
    color: #737492;
    font-size: 17px;
    font-family: Robot;
}
.fbondnavitem {
    margin-left: 57px;
}
.fmim {
    color: #e0e1fb;
    font-family: Robot;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 18px;
    margin: 10px 0 30px 0;
}
.ffooter {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ffootereter {
    color: #98979c;
    font-family: Robot;
    letter-spacing: 2px;
    font-size: 13px;
    margin: 15px 0;
}
.fsocialItem img {
    cursor: pointer;
}
.fsocialItem {
    display: flex;
    width: 150px;
    justify-content: space-between;
}
.ffooterout {
    width: 100%;
    display: flex;
    justify-content: center;
}
.fsecRight {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.fwalletBtnOut {
    display: flex;
    width: 100%;
    justify-content: right;
    position: absolute;
    top: 10px;
    right: 10px;
}
.fwalletBtn {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #62b8fa;
    width: 250px;
    height: 45px;
    background-color: #5b92e2;
    font-family: Noah;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: bold;
}
.fsinglestakeOut {
    width: 100%;
    display: flex;
    justify-content: center;
}
.fsinglestake-calcu {
    margin-top: 15px;
}
.fcalcu-middle {
    margin-top: 40px;
}
.fsinglestake{
    width: 850px;
    background-color: rgba($color: #0f183d, $alpha: 0.9);
    padding: 20px 30px;
}
.fsingletop {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    border-top: 1px solid #4f5773;
    border-bottom: 1px solid #4f5773;
}
.fsingleTop-left {
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    font-family: Noah;
}
.fsoon{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 3px;
    font-size: 40px;
    font-family: NoahBold;
}
.fbarTag{
    display: none;
    position: absolute;
    font-size: 30px;
    top: 10px;
    left: 10px;
    color: white;
    font-family: NoahBold;
    width: 40px;
    height: 45px;
    justify-content: center;
    align-items: center;   
}
.fsideShow{
    left: 0px !important;
}
@media screen and (max-width:1200px) {
    .froot{
        height: 100vh !important;
        background-size: 100% 100vh !important;
    }
    .fsideBar{
        position: absolute !important;
        background-color: #0f183d;
        left: -320px !important;
        z-index: 2 !important;
    }
    .fbarTag{
        display: flex !important;
        z-index: 3 !important;
    }
    .fsideBar.show{
        left: 0 !important;
    }
    
}
@media screen and (max-width:900px) {
    .fsinglestake{
        width: 600px;
    }
    .fsoon{
        height: 450px;
    }
}
@media screen and (max-width:630px) {
    .fsinglestake{
        width: 400px;
    }
    .fsoon{
        height: 300px;
        font-size: 25px;
    }
}
