@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300display=swap");
.ReviewContainer {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .ReviewTitle {
        background: linear-gradient(180deg, #000000 0%, #999999 103.27%);
        border-radius: 0px 0px 44px 44px;
        color: white;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        width: 100%;
        font-weight: bold;
        font-size: 50px;
        line-height: 61px;
        text-align: center;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.Reviewmaindiv {
    width: 1442px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 54px;
}
.ReviewmainTitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    text-align: center;

    color: #061224;
}
.Reviewmainsubtitle {
    width: 1440px;
    margin: 44px 0 10px 0;
    p {
        font-family: Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 150%;
        color: #000000;
    }
    li {
        font-family: Sans;
        font-style: normal;
        font-size: 25px;
        line-height: 150%;
        color: #000000;
        span {
            color: #07a6d8;
            font-weight: bold;
        }
    }
}
.ReviewmainSharelink {
    width: 1075px;
    margin-top: 36px;
    height: 244px;
    background: #393939;
    border-radius: 22px;
    padding: 42.52px 0 0 80px;
    p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        letter-spacing: -0.03em;
        color: #ffffff;
    }
    .ReviewmainSharelink_share {
        display: flex;
        input {
            width: 655px;
            height: 73px;
            background: #e2e2e2;
            border-radius: 10px;
            border-style: none;
            padding: 0 15px;
            font-size: 25px;
            color: #000;
        }
        input:active,
        input:focus {
            outline: none;
            border: 2px solid #00a8dd;
        }
    }
    .ReviewmainCopyBtn {
        width: 210px;
        height: 66.55px;
        background: #00a8dd;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        margin-left: 50px;
    }
}
.ReviewRefferal {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    color: #061224;
    margin: 106px 0 46px 0;
}
@media screen and (max-width: 1480px) {
    .Reviewmainsubtitle {
        width: 97% !important;
    }
    .Reviewmaindiv {
        width: 100% !important;
    }
}
@media screen and (max-width: 1080px) {
    .ReviewmainSharelink {
        width: 98% !important;
        text-align: center !important;
        height: auto !important;
        padding-left: 0 !important ;
    }
    .ReviewmainSharelink_share {
        flex-direction: column !important;
        align-items: center !important;
    }
    .ReviewmainCopyBtn {
        margin: 20px 0 !important;
    }
}
@media screen and (max-width: 860px) {
    .Reviewmainsubtitle {
        p {
            text-align: center !important;
        }
    }
    .ReviewmainTitle {
        font-size: 40px !important;
    }
    .ReviewTitle {
        font-size: 40px !important;
    }
    .ReviewmainSharelink_share {
        input {
            width: 80% !important;
        }
    }
    .ReviewRefferal {
        font-size: 40px !important;
    }
}
